<!-- Hero Unit
  ================================================== -->
<div class="hero-unit">
  <div class="container hero-unit__container">
    <div class="hero-unit__content hero-unit__content--left-center">
      <span class="hero-unit__decor">
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
      </span>
      <h5 class="hero-unit__subtitle">Elric Bros School</h5>
      <h1 class="hero-unit__title">The <span class="text-primary">Alchemists</span></h1>
      <div class="hero-unit__desc">Lorem ipsum dolor sit amet, consectetur adipisi nel elit, sed do eiusmod tempor incididunt ut labore et dolore .</div>
      <a href="#" class="btn btn-inverse btn-sm btn-outline btn-icon-right btn-condensed hero-unit__btn">Read More <i class="fa fa-plus text-primary"></i></a>
    </div>

    <figure class="hero-unit__img">
      <%= image_tag 'images/samples/header_player.png' %>
    </figure>
  </div>
</div>

<!-- Content
================================================== -->
<div class="site-content">
  <div class="container">

    <div class="row">
      <!-- Content -->
      <div class="content col-md-8">

        <!-- Lates News -->
        <div class="card card--clean">
          <header class="card__header card__header--has-btn">
            <h4>Latest News</h4>
            <a href="#" class="btn btn-default btn-outline btn-xs card-header__button">See All Posts</a>
          </header>
          <div class="card__content">
            <!-- Posts List -->
            <div class="posts posts--cards posts--cards-thumb-left post-list">

              <div class="post-list__item">
                <div class="posts__item posts__item--card posts__item--category-1 card">
                  <figure class="posts__thumb">
                    <a href="#"><%= image_tag "images/samples/post-img9.jpg" %></a>
                    <a href="#" class="posts__cta"></a>
                  </figure>
                  <div class="posts__inner">
                    <div class="card__content">
                      <div class="posts__cat">
                        <span class="label posts__cat-label">The Team</span>
                      </div>
                      <h6 class="posts__title"><a href="#">The team is taking a summer vacation on Woody Valley</a></h6>
                      <time datetime="2016-08-17" class="posts__date">August 17th, 2016</time>
                      <div class="posts__excerpt">
                        Lorem ipsum dolor sit amet, consectetur adipisi nel elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </div>
                    </div>
                    <footer class="posts__footer card__footer">
                      <div class="post-author">
                        <figure class="post-author__avatar">
                          <%= image_tag "images/samples/avatar-2.jpg" %>
                        </figure>
                        <div class="post-author__info">
                          <h4 class="post-author__name">Jessica Hoops</h4>
                        </div>
                      </div>
                      <ul class="post__meta meta">
                        <li class="meta__item meta__item--views">2369</li>
                        <li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
                        <li class="meta__item meta__item--comments"><a href="#">18</a></li>
                      </ul>
                    </footer>
                  </div>
                </div>
              </div>

              <div class="post-list__item">
                <div class="posts__item posts__item--card posts__item--category-1 card">
                  <figure class="posts__thumb">
                    <a href="#"><%= image_tag "images/samples/post-img10.jpg" %></a>
                    <a href="#" class="posts__cta"></a>
                  </figure>
                  <div class="posts__inner">
                    <div class="card__content">
                      <div class="posts__cat">
                        <span class="label posts__cat-label">The Team</span>
                      </div>
                      <h6 class="posts__title"><a href="#">Jeremy Rittersen was called to be in the National Team</a></h6>
                      <time datetime="2016-08-16" class="posts__date">August 16th, 2016</time>
                      <div class="posts__excerpt">
                        Lorem ipsum dolor sit amet, consectetur adipisi nel elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </div>
                    </div>
                    <footer class="posts__footer card__footer">
                      <div class="post-author">
                        <figure class="post-author__avatar">
                          <%= image_tag "images/samples/avatar-1.jpg" %>
                        </figure>
                        <div class="post-author__info">
                          <h4 class="post-author__name">James Spiegel</h4>
                        </div>
                      </div>
                      <ul class="post__meta meta">
                        <li class="meta__item meta__item--views">2369</li>
                        <li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
                        <li class="meta__item meta__item--comments"><a href="#">18</a></li>
                      </ul>
                    </footer>
                  </div>
                </div>
              </div>

              <div class="post-list__item">
                <div class="posts__item posts__item--card posts__item--category-1 card">
                  <figure class="posts__thumb">
                    <a href="#"><%= image_tag "images/samples/post-img11.jpg" %></a>
                    <a href="#" class="posts__cta"></a>
                  </figure>
                  <div class="posts__inner">
                    <div class="card__content">
                      <div class="posts__cat">
                        <span class="label posts__cat-label">The Team</span>
                      </div>
                      <h6 class="posts__title"><a href="#">Alchemists New Stadium is gonna be ready in September 2017</a></h6>
                      <time datetime="2016-08-15" class="posts__date">August 15th, 2016</time>
                      <div class="posts__excerpt">
                        Lorem ipsum dolor sit amet, consectetur adipisi nel elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </div>
                    </div>
                    <footer class="posts__footer card__footer">
                      <div class="post-author">
                        <figure class="post-author__avatar">
                          <%= image_tag "images/samples/avatar-2.jpg" %>
                        </figure>
                        <div class="post-author__info">
                          <h4 class="post-author__name">Jessica Hoops</h4>
                        </div>
                      </div>
                      <ul class="post__meta meta">
                        <li class="meta__item meta__item--views">2369</li>
                        <li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
                        <li class="meta__item meta__item--comments"><a href="#">18</a></li>
                      </ul>
                    </footer>
                  </div>
                </div>
              </div>

              <div class="post-list__item">
                <div class="posts__item posts__item--card posts__item--category-1 card">
                  <figure class="posts__thumb">
                    <a href="#"><%= image_tag "images/samples/post-img14-m.jpg" %></a>
                    <a href="#" class="posts__cta"></a>
                  </figure>
                  <div class="posts__inner">
                    <div class="card__content">
                      <div class="posts__cat">
                        <span class="label posts__cat-label">The Team</span>
                      </div>
                      <h6 class="posts__title"><a href="#">The Championship Final will be be played in San Francisco</a></h6>
                      <time datetime="2016-08-18" class="posts__date">August 18th, 2016</time>
                      <div class="posts__excerpt">
                        Lorem ipsum dolor sit amet, consectetur adipisi nel elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </div>
                    </div>
                    <footer class="posts__footer card__footer">
                      <div class="post-author">
                        <figure class="post-author__avatar">
                          <%= image_tag "images/samples/avatar-2.jpg" %>
                        </figure>
                        <div class="post-author__info">
                          <h4 class="post-author__name">Jessica Hoops</h4>
                        </div>
                      </div>
                      <ul class="post__meta meta">
                        <li class="meta__item meta__item--views">2369</li>
                        <li class="meta__item meta__item--likes"><a href="#"><i class="meta-like icon-heart"></i> 530</a></li>
                        <li class="meta__item meta__item--comments"><a href="#">18</a></li>
                      </ul>
                    </footer>
                  </div>
                </div>
              </div>

            </div>
            <!-- Posts List / End -->
          </div>
        </div>
        <!-- Lates News / End -->


      </div>
      <!-- Content / End -->

      <!-- Sidebar -->
      <div id="sidebar" class="sidebar col-md-4">
        <!-- Widget: Standings -->
        <aside class="widget card widget--sidebar widget-standings">
          <div class="widget__title card__header card__header--has-btn">
            <h4>Playoff Standings</h4>
            <a href="#" class="btn btn-default btn-outline btn-xs card-header__button">See All Stats</a>
          </div>
          <div class="widget__content card__content">
            <div class="table-responsive">
              <table class="table table-hover table-standings">
                <thead>
                  <tr>
                    <th>Team Positions</th>
                    <th>W</th>
                    <th>L</th>
                    <th>GB</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="team-meta">
                        <figure class="team-meta__logo">
                          <%= image_tag "images/samples/logos/pirates_shield.png" %>
                        </figure>
                        <div class="team-meta__info">
                          <h6 class="team-meta__name">L.A Pirates</h6>
                          <span class="team-meta__place">Bebop Institute</span>
                        </div>
                      </div>
                    </td>
                    <td>45</td>
                    <td>5</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="team-meta">
                        <figure class="team-meta__logo">
                          <%= image_tag "images/samples/logos/pirates_shield.png" %>
                        </figure>
                        <div class="team-meta__info">
                          <h6 class="team-meta__name">Sharks</h6>
                          <span class="team-meta__place">Marine College</span>
                        </div>
                      </div>
                    </td>
                    <td>42</td>
                    <td>8</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="team-meta">
                        <figure class="team-meta__logo">
                          <%= image_tag "images/samples/logos/alchemists_b_shield.png" %>
                        </figure>
                        <div class="team-meta__info">
                          <h6 class="team-meta__name">The Alchemists</h6>
                          <span class="team-meta__place">Eric Bros School</span>
                        </div>
                      </div>
                    </td>
                    <td>40</td>
                    <td>10</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="team-meta">
                        <figure class="team-meta__logo">
                          <%= image_tag "images/samples/logos/ocean_kings_shield.png" %>
                        </figure>
                        <div class="team-meta__info">
                          <h6 class="team-meta__name">Ocean Kings</h6>
                          <span class="team-meta__place">Bay College</span>
                        </div>
                      </div>
                    </td>
                    <td>38</td>
                    <td>12</td>
                    <td>7</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="team-meta">
                        <figure class="team-meta__logo">
                          <%= image_tag "images/samples/logos/red_wings_shield.png" %>
                        </figure>
                        <div class="team-meta__info">
                          <h6 class="team-meta__name">Red Wings</h6>
                          <span class="team-meta__place">Icarus College</span>
                        </div>
                      </div>
                    </td>
                    <td>37</td>
                    <td>13</td>
                    <td>8</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="team-meta">
                        <figure class="team-meta__logo">
                          <%= image_tag "images/samples/logos/lucky_clovers_shield.png" %>
                        </figure>
                        <div class="team-meta__info">
                          <h6 class="team-meta__name">Lucky Clovers</h6>
                          <span class="team-meta__place">St. Patrick’s Institute</span>
                        </div>
                      </div>
                    </td>
                    <td>34</td>
                    <td>16</td>
                    <td>11</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="team-meta">
                        <figure class="team-meta__logo">
                          <%= image_tag "images/samples/logos/draconians_shield.png" %>
                        </figure>
                        <div class="team-meta__info">
                          <h6 class="team-meta__name">Draconians</h6>
                          <span class="team-meta__place">Draconians</span>
                        </div>
                      </div>
                    </td>
                    <td>31</td>
                    <td>19</td>
                    <td>14</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="team-meta">
                        <figure class="team-meta__logo">
                          <%= image_tag "images/samples/logos/bloody_wave_shield.png" %>
                        </figure>
                        <div class="team-meta__info">
                          <h6 class="team-meta__name">Bloody Wave</h6>
                          <span class="team-meta__place">Atlantic School</span>
                        </div>
                      </div>
                    </td>
                    <td>30</td>
                    <td>20</td>
                    <td>15</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </aside>
        <!-- Widget: Standings / End -->
        
      </div>
      <!-- Sidebar / End -->
    </div>

  </div>
</div>

<%= javascript_include_tag 'jquery/jquery.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'js/core-min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'js/custom.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'js/init.js', 'data-turbolinks-track': 'reload' %>
