<% @top_sites = Site.all.order("rating desc").limit(3) %>

<!-- Hero Unit
  ================================================== -->
<div class="hero-unit">
  <div class="container hero-unit__container">
    <div class="hero-unit__content hero-unit__content--left-center">
      <span class="hero-unit__decor">
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
      </span>
      <h5 class="hero-unit__subtitle">Elric Bros School</h5>
      <h1 class="hero-unit__title">The <span class="text-primary">Alchemists</span></h1>
      <div class="hero-unit__desc">Lorem ipsum dolor sit amet, consectetur adipisi nel elit, sed do eiusmod tempor incididunt ut labore et dolore .</div>
      
    </div>

    <figure class="hero-unit__img">
      <%= image_tag 'images/samples/header_player.png' %>
    </figure>
  </div>
</div>

<!-- Content
================================================== -->
<div class="site-content">
  <div class="container">

    <div class="row">
      <!-- Content -->
      <div class="content col-md-8">

        <!-- Lates News -->
        <div class="card card--clean">
          <header class="card__header card__header--has-btn">
            <h4>Top Rated Sites</h4>
            <a href="<%= sites_path %>" class="btn btn-default btn-outline btn-xs card-header__button">See All Sites</a>
          </header>
          <div class="card__content">
            <!-- Posts List -->
            <div class="posts posts--cards posts--cards-thumb-left post-list">
              
              <% @top_sites.each do |site| %>
                <div class="post-list__item">
                  <div class="posts__item posts__item--card posts__item--category-1 card">
                    <figure class="posts__thumb">
                      <a href="<%= site_path(site) %>"> <%= image_tag site.preview.url(:medium), style: 'height: 233px' %> </a>
                      <a href="#" class="posts__cta"></a>
                    </figure>
                    <div class="posts__inner">
                      <div class="card__content">
                        <div class="posts__cat">
                          <span class="label posts__cat-label"> <%= site.category.title %> </span>
                        </div>
                        <h6 class="posts__title"><a href="#"><%= site.title %></a></h6>
                        <time datetime="2016-08-17" class="posts__date"><%= time_ago_in_words(site.created_at) %></time>
                        <div class="posts__excerpt">
                          <%= truncate(site.description, length: 70) %>
                        </div>
                      </div>
                      <footer class="posts__footer card__footer">
                        <ul class="post__meta meta">
                          <li class="meta__item meta__item--comments"><a href="#"><%= site.reviews.count %></a></li>
                        </ul>
                      </footer>
                    </div>
                  </div>
                </div>
              <% end %>

            </div>
            <!-- Posts List / End -->
          </div>
        </div>
        <!-- Lates News / End -->


      </div>
      <!-- Content / End -->

      <!-- Sidebar -->
      <div id="sidebar" class="sidebar col-md-4">
        <!-- Widget: Standings -->
        <aside class="widget card widget--sidebar widget-standings">
          <div class="widget__title card__header card__header--has-btn">
            <h4>Playoff Standings</h4>
            <a href="#" class="btn btn-default btn-outline btn-xs card-header__button">See All Stats</a>
          </div>
          <div class="widget__content card__content">
            <div class="table-responsive">
              <table class="table table-hover table-standings">
                <thead>
                  <tr>
                    <th>Team Positions</th>
                    <th>W</th>
                    <th>L</th>
                    <th>GB</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="team-meta">
                        <figure class="team-meta__logo">
                          <%= image_tag "images/samples/logos/pirates_shield.png" %>
                        </figure>
                        <div class="team-meta__info">
                          <h6 class="team-meta__name">L.A Pirates</h6>
                          <span class="team-meta__place">Bebop Institute</span>
                        </div>
                      </div>
                    </td>
                    <td>45</td>
                    <td>5</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="team-meta">
                        <figure class="team-meta__logo">
                          <%= image_tag "images/samples/logos/pirates_shield.png" %>
                        </figure>
                        <div class="team-meta__info">
                          <h6 class="team-meta__name">Sharks</h6>
                          <span class="team-meta__place">Marine College</span>
                        </div>
                      </div>
                    </td>
                    <td>42</td>
                    <td>8</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="team-meta">
                        <figure class="team-meta__logo">
                          <%= image_tag "images/samples/logos/alchemists_b_shield.png" %>
                        </figure>
                        <div class="team-meta__info">
                          <h6 class="team-meta__name">The Alchemists</h6>
                          <span class="team-meta__place">Eric Bros School</span>
                        </div>
                      </div>
                    </td>
                    <td>40</td>
                    <td>10</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="team-meta">
                        <figure class="team-meta__logo">
                          <%= image_tag "images/samples/logos/ocean_kings_shield.png" %>
                        </figure>
                        <div class="team-meta__info">
                          <h6 class="team-meta__name">Ocean Kings</h6>
                          <span class="team-meta__place">Bay College</span>
                        </div>
                      </div>
                    </td>
                    <td>38</td>
                    <td>12</td>
                    <td>7</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="team-meta">
                        <figure class="team-meta__logo">
                          <%= image_tag "images/samples/logos/red_wings_shield.png" %>
                        </figure>
                        <div class="team-meta__info">
                          <h6 class="team-meta__name">Red Wings</h6>
                          <span class="team-meta__place">Icarus College</span>
                        </div>
                      </div>
                    </td>
                    <td>37</td>
                    <td>13</td>
                    <td>8</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="team-meta">
                        <figure class="team-meta__logo">
                          <%= image_tag "images/samples/logos/lucky_clovers_shield.png" %>
                        </figure>
                        <div class="team-meta__info">
                          <h6 class="team-meta__name">Lucky Clovers</h6>
                          <span class="team-meta__place">St. Patrick’s Institute</span>
                        </div>
                      </div>
                    </td>
                    <td>34</td>
                    <td>16</td>
                    <td>11</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="team-meta">
                        <figure class="team-meta__logo">
                          <%= image_tag "images/samples/logos/draconians_shield.png" %>
                        </figure>
                        <div class="team-meta__info">
                          <h6 class="team-meta__name">Draconians</h6>
                          <span class="team-meta__place">Draconians</span>
                        </div>
                      </div>
                    </td>
                    <td>31</td>
                    <td>19</td>
                    <td>14</td>
                  </tr>
                  <tr>
                    <td>
                      <div class="team-meta">
                        <figure class="team-meta__logo">
                          <%= image_tag "images/samples/logos/bloody_wave_shield.png" %>
                        </figure>
                        <div class="team-meta__info">
                          <h6 class="team-meta__name">Bloody Wave</h6>
                          <span class="team-meta__place">Atlantic School</span>
                        </div>
                      </div>
                    </td>
                    <td>30</td>
                    <td>20</td>
                    <td>15</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </aside>
        <!-- Widget: Standings / End -->
        
      </div>
      <!-- Sidebar / End -->
    </div>

  </div>
</div>

<%= javascript_include_tag 'jquery/jquery.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'js/core-min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'js/custom.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'js/init.js', 'data-turbolinks-track': 'reload' %>
