<li class="comments__item" id="review_row_<%= review.id %>">
  <div class="comments__inner">
    <header class="comment__header">
      <div class="comment__author">
        <figure class="comment__author-avatar">
          <% if review.user.image.url.split('/')[-1] == "missing.png" %>
            <%= image_tag 'images/samples/avatar-empty.png' %>
          <% else %>
            <%= image_tag review.user.image.url(:thumb) %>
          <% end %>
        </figure>
        <div class="comment__author-info">
          <h5 class="comment__author-name"><%= review.user.username %></h5>
          <time class="comment__post-date" datetime="2016-08-23"><%= time_ago_in_words( review.created_at ) %> ago</time>
        </div>
      </div>
    </header>
    <div class="comment__body">
      <h4 class="comment__title"> <%= review.title %> </h4>
      <p style="color: grey;"> <%= review.content %> </p>
      <% if can? :destroy, review %>
        <p style="color: black"> <%= link_to 'Delete', review, method: :delete, remote: true %> </p>
      <% end %>
    </div>
  </div> <hr style="margin-top: 0px !important">
</li> 
