<!-- One Product Template  -->
<li class="product__item product__item--color-1 card">

  <div class="">
    <div class="product__img-holder">
      <a href="<%= site_path(site) %>"> <%= image_tag site.preview.url(:medium), style: 'height: 300px' %> </a>
    </div>
  </div>

  <div class="product__content card__content">

    <header class="product__header">
      <div class="product__header-inner">
        <span class="product__category"> <%= site.category.title %> </span>
        <h2 class="product__title"><a href="<%= site_path(site) %>"> <%= site.title %> </a></h2>
        <div class="product__ratings">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star empty"></i>
        </div>
      </div>
    </header>

    <div class="product__excerpt">
      <%= truncate(site.description, length: 90) %>
    </div>

    <footer class="product__footer">
      <!-- <a href="#" class="btn btn-default btn-single-icon product__wish"><i class="icon-heart"></i></a> -->
      <a href="<%= site_path(site) %>" class="btn btn-default btn-single-icon product__view"><i class="icon-eye"></i></a>
    </footer>
  </div>
</li>
<!-- One Product Template / End -->
