<!-- Page Heading
================================================== -->
<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="page-heading__title">Shop <span class="highlight">List</span></h1>
        <ol class="page-heading__breadcrumb breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">Shop</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<!-- Content
================================================== -->
<div class="site-content">
  <div class="container">

    <div class="row">

      <!-- Products -->
      <div class="col-md-9 col-md-push-3">

        <!-- Shop List -->
        <div class="card card--clean">
          <header class="card__header card__header--shop-filter">
            <div class="shop-filter">
              <h5 class="shop-filter__result">Showing 6 of 98 products</h5>
              <div class="shop-filter__layout"></div>
            </div>
          </header>
          
          <div class="card__content">

            <!-- Products -->
            <ul class="products products--list">
              <%= render @sites %>
            </ul>
            <!-- Products / End -->
          </div>
        </div>
        <!-- Shop List / End -->

        <div class="text-right">
          <!-- Shop Pagination -->
          <nav class="shop-pagination">
            <ul class="pagination">
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><span>...</span></li>
              <li><a href="#">16</a></li>
            </ul>
          </nav>
          <!-- Shop Pagination / End -->
          
        </div>

      </div>
      <!-- Products / End -->

      <!-- Sidebar -->
      <div class="sidebar sidebar--shop col-md-3 col-md-pull-9">

        <!-- Widget: Hot Products -->
        <aside class="widget card widget--sidebar widget-products">
          <div class="widget__title card__header">
            <h4>Hot Products</h4>
          </div>
          <div class="widget__content card__content">
            <ul class="products-list">
              <li class="products-list__item">
                <figure class="products-list__product-thumb">
                  <a href="#">
                    <img src="assets/images/samples/cart-sm-1.jpg" alt="">
                  </a>
                </figure>
                <div class="products-list__inner">
                  <span class="products-list__product-cat">Sneakers</span>
                  <h5 class="products-list__product-name"><a href="#">Sundown Sneaker</a></h5>
                  <div class="products-list__product-ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star empty"></i>
                  </div>
                  <div class="products-list__product-sum">
                    <span class="products-list__product-price">$28.00</span>
                  </div>
                </div>
              </li>
              <li class="products-list__item">
                <figure class="products-list__product-thumb">
                  <a href="#">
                    <img src="assets/images/samples/cart-sm-2.jpg" alt="">
                  </a>
                </figure>
                <div class="products-list__inner">
                  <span class="products-list__product-cat">Sneakers</span>
                  <h5 class="products-list__product-name"><a href="#">Atlantik Sneaker</a></h5>
                  <div class="products-list__product-ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="products-list__product-sum">
                    <span class="products-list__product-price">$30.00</span>
                  </div>
                </div>
              </li>
              <li class="products-list__item">
                <figure class="products-list__product-thumb">
                  <a href="#">
                    <img src="assets/images/samples/cart-sm-3.jpg" alt="">
                  </a>
                </figure>
                <div class="products-list__inner">
                  <span class="products-list__product-cat">Sneakers</span>
                  <h5 class="products-list__product-name"><a href="#">Aquarium Sneaker</a></h5>
                  <div class="products-list__product-ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star empty"></i>
                    <i class="fa fa-star empty"></i>
                  </div>
                  <div class="products-list__product-sum">
                    <span class="products-list__product-price">$26.00</span>
                  </div>
                </div>
              </li>
              <li class="products-list__item">
                <figure class="products-list__product-thumb">
                  <a href="#">
                    <img src="assets/images/samples/cart-sm-6.jpg" alt="">
                  </a>
                </figure>
                <div class="products-list__inner">
                  <span class="products-list__product-cat">Shirts and Hoodies</span>
                  <h5 class="products-list__product-name"><a href="#">The Sporting Shirt</a></h5>
                  <div class="products-list__product-ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star empty"></i>
                  </div>
                  <div class="products-list__product-sum">
                    <span class="products-list__product-price">$40.00</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </aside>
        <!-- Widget: Hot Products / End -->
        

      </div>
      <!-- Sidebar / End -->

    </div>

  </div>
</div>

<!-- Content / End -->

<%= javascript_include_tag 'jquery/jquery.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'js/core-min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'js/custom.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'js/init.js', 'data-turbolinks-track': 'reload' %>
