<% @top_sites = Site.all.order("rating desc").limit(3) %>

<!-- Page Heading
================================================== -->
<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="page-heading__title">Site <span class="highlight">List</span></h1>
        <ol class="page-heading__breadcrumb breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">Sites</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<!-- Content
================================================== -->
<div class="site-content">
  <div class="container">

    <div class="row">

      <!-- Products -->
      <div class="col-md-9 col-md-push-3">

        <!-- Shop List -->
        <div class="card card--clean">
          <header class="card__header card__header--shop-filter">
            <div class="shop-filter">
              <h2 class="shop-filter__result">All Sites</h2>
              <div class="shop-filter__layout"></div>
            </div>
          </header>
          
          <div class="card__content">

            <!-- Products -->
            <ul class="products products--list">
              <%= render @sites %>
            </ul>
            <!-- Products / End -->
          </div>
        </div>
        <!-- Shop List / End -->

        <div class="text-right">
          <!-- Shop Pagination -->
          <nav class="shop-pagination">
            <ul class="pagination">
              <li> <%= paginate @sites, outer_window: 3 %> </li>
            </ul>
          </nav>
          <!-- Shop Pagination / End -->
          
        </div>

      </div>
      <!-- Products / End -->

      <!-- Sidebar -->
      <div class="sidebar sidebar--shop col-md-3 col-md-pull-9">

        <!-- Widget: Hot Products -->
        <aside class="widget card widget--sidebar widget-products">
          <div class="widget__title card__header">
            <h4>Hot Sites</h4>
          </div>
          <div class="widget__content card__content">
            <ul class="products-list">
              <% @top_sites.each do |site| %>
                <li class="products-list__item">
                  <figure class="products-list__product-thumb">
                    <a href="<%= site_path(site) %>">
                      <%= image_tag site.preview.url(:thumb) %>
                    </a>
                  </figure>
                  <div class="products-list__inner">
                    <span class="products-list__product-cat"> <%= site.category.title %> </span>
                    <h5 class="products-list__product-name"><a href="#"> <%= site.title %> </a></h5>
                    <div class="products-list__product-ratings">
                      <% site.rating.times do %>
                        <i class="fa fa-star"></i>
                      <% end %>
                    </div>
                    <div class="products-list__product-sum">
                      <span class="products-list__product-price"><%= site.reviews.count %> Reviews</span>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </aside>
        <!-- Widget: Hot Products / End -->
        

      </div>
      <!-- Sidebar / End -->

    </div>

  </div>
</div>

<!-- Content / End -->

<%= javascript_include_tag 'jquery/jquery.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'js/core-min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'js/custom.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'js/init.js', 'data-turbolinks-track': 'reload' %>
