<!-- Content
================================================== -->
<div class="site-content">
  <div class="container">

    <!-- Single Product -->
    <div class="products products--list products--list-lg">

      <div class="product__item product__item--color-1 card">

        <div class="">
          <div class="product__img-holder">
            <%= image_tag @site.preview.url, style: 'height: 491px' %>
          </div>
        </div>

        <div class="product__content card__content">

          <header class="product__header">
            <div class="product__header-inner">
              <span class="product__category"> <%= @site.category.title %> </span>
              <h2 class="product__title" style="margin-bottom: 2%;"> <%= @site.title %> </h2>
              <span class="product__category"> <%= link_to 'visit', @site.link, style: 'margin-left: 2%;text-decoration: underline', target: '_blank' %> </span>
              <div class="product__ratings">
                <% 
                  @count = 5 - @result 
                  @temp = 1
                %>
                <% @result.times do %>
                  <%= link_to '', '', class: 'fa fa-star ' %>
                  <% @temp = @temp + 1 %>
                <% end %>
                
                <% @count.times do %>
                  <%= link_to '', '', class: 'fa fa-star empty' %>
                  <% @temp = @temp + 1 %>
                <% end %>
              </div>
            </div>
          </header>

          <div class="product__excerpt">
            <h6>Description</h6>
            <%= truncate(@site.description, length: 90) %>
          </div>

          <% if user_signed_in? %>
            <form action="#" class="product__params">
              <div class="product__param-item product__param-item--color">
                <label>Trust</label>
                <div class="product__ratings">
                  <% 
                    @count = 5 - @trust_rating 
                    @temp = 1
                  %>
                  <% @trust_rating.times do %>
                    <%= link_to '', rating_site_path(@site, type: 'trust', star: @temp), class: 'fa fa-star ' %>
                    <% @temp = @temp + 1 %>
                  <% end %>
                  
                  <% @count.times do %>
                    <%= link_to '', rating_site_path(@site, type: 'trust', star: @temp), class: 'fa fa-star empty' %>
                    <% @temp = @temp + 1 %>
                  <% end %>
                </div>
              </div>
              <div class="product__param-item product__param-item--size">
                <label class="control-label" for="select-size">Performance</label>
                <div class="product__ratings">
                  <% 
                    @count = 5 - @performance_rating 
                    @temp = 1
                  %>
                  <% @performance_rating.times do %>
                    <%= link_to '', rating_site_path(@site, type: 'performance', star: @temp), class: 'fa fa-star ' %>
                    <% @temp = @temp + 1 %>
                  <% end %>
                  
                  <% @count.times do %>
                    <%= link_to '', rating_site_path(@site, type: 'performance', star: @temp), class: 'fa fa-star empty' %>
                    <% @temp = @temp + 1 %>
                  <% end %>   
                </div>
              </div>
              <div class="product__param-item product__param-item--quantity">
                <label>Features</label>
                <div class="product__ratings">
                  <% 
                    @count = 5 - @feature_rating 
                    @temp = 1
                  %>
                  <% @feature_rating.times do %>
                    <%= link_to '', rating_site_path(@site, type: 'feature', star: @temp), class: 'fa fa-star ' %>
                    <% @temp = @temp + 1 %>
                  <% end %>
                  
                  <% @count.times do %>
                    <%= link_to '', rating_site_path(@site, type: 'feature', star: @temp), class: 'fa fa-star empty' %>
                    <% @temp = @temp + 1 %>
                  <% end %>
                </div>
              </div>
            </form>
          <% else %>
            <p> <%= link_to 'Login', new_user_session_path %> to record your ratings. </p>
          <% end %>
          <footer class="product__footer">
            <!-- <a href="#" class="btn btn-default btn-single-icon product__wish"><i class="icon-heart"></i></a> -->
          </footer>
        </div>
      </div>

    </div>
    <!-- Single Product / End -->

    <!-- Single Product Tabbed Content -->
    <div class="product-tabs card card--xlg">
    
      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified nav-product-tabs">
        <li role="presentation" class="active"><a href="#tab-desciption" role="tab" data-toggle="tab"><small>Site</small>Full Description</a></li>
        <li role="presentation"><a href="#tab-reviews" role="tab" data-toggle="tab"><small>Sites</small>User Reviews <span id="top-reviews-count"> (<%= @site.reviews.count %>) </span> </a></li>
      </ul>
    
      <!-- Tab panes -->
      <div class="tab-content card__content">
    
        <!-- Tab: Description -->
        <div role="tabpanel" class="tab-pane fade in active" id="tab-desciption">
        
          <header class="product-tabs__header">
            <h2>Site Full Description</h2>
          </header>
          
          <p> <%= @site.description %> </p>
          
        </div>
        <!-- Tab: Description / End -->
    
        <!-- Tab: Reviews -->
        <div class="tab-pane fade" id="tab-reviews">
    
          <section class="product-tabs__section">
          
            <header class="product-tabs__header">
              <h2> <span id="reviews-count"> <%= @site.reviews.count %> </span> User Reviews</h2>
            </header>
            
            <!-- Product Reviews -->
            <ul class="comments comments--left-thumb" id="reviews">
              <%= render @site.reviews %>
            </ul>
            <p style="color: green" id="success-note"> </p>
            <!-- Product Reviews / End -->
            <div id="myModal" class="modal fade" role="dialog"> </div>
          
          </section>
          
          <% if user_signed_in? %>
            <section class="product-tabs__section">
            
              <header class="product-tabs__header">
                <h2>Write a Review</h2>
              </header>
              
              <!-- Reviews Form -->
              <%= render 'reviews/form' %> 
              <!-- Reviews Form / End -->
              
            </section>
          <% else %>
            <section class="product-tabs__section">
              <header class="product-tabs__header">
                <h4> <%= link_to 'Login', new_user_session_path %> to make a Review</h4>
              </header>
            </section>
          <% end %>
    
        </div>
        <!-- Tab: Reviews / End -->
      </div>
    
    </div>
    <!-- Single Product Tabbed Content / End -->

  </div>
</div>

<!-- Content / End -->

<%= javascript_include_tag 'jquery/jquery.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'js/core-min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'js/custom.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'js/init.js', 'data-turbolinks-track': 'reload' %>
